body,
html {
  font-family: sans-serif;
  color: #b2b2b2;
  background-color: #2d2d2d;
}

a {
  color: white;
  text-decoration: underline;
}
a:hover,
td.NAP a:hover {
  color: black;
}

input,
textarea,
select {
  color: black;
  background: #b2b2b2;
}

img.graph {
  background: gray;
}

td.sticky {
  font-weight: bold;
}

legend {
  color: black;
  background: gray;
}

ul.linkbar li {
  background: rgba(255, 255, 255, 0.05);
  color: black;
  margin: 0.5em 0;
  padding: 0.3em;
  /*border-right: 1em solid black;*/
}

tr.even {
  background: #b2b2b2;
  color: black;
}
tr.odd {
  background: gray;
  color: black;
}
tr.total {
  background: black;
  color: red;
}

tr:hover {
  /*color: black;
	background: #626262;*/
}

td.ingal {
  background: blue;
  color: black;
}
td.Defend {
  background: green;
  color: black;
}
td.AllyDef {
  background: #00ff00;
  color: black;
}
td.Attack {
  background: red;
  color: black;
}

a.Unclaim {
  color: green;
}
input.Unclaim {
  background: green;
}
a.Claim {
  color: blue;
}
a.Join {
  color: #00aaaa;
}
input.Join {
  background: #00aaaa;
}

td.Friendly {
  background: green;
  color: black;
}
td.Friendly a {
  color: yellow;
  background: green;
}
td.Hostile {
  background: red;
  color: black;
}

td.LowestPrio {
  background: red;
  color: black;
}
td.MediumPrio {
  background: yellow;
  color: black;
}
td.HighestPrio {
  background: green;
  color: black;
}
