<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>[% site.title %]: [% template.title %]</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/default.css">
	<link rel="stylesheet" type="text/css" href="/static/css/[% user.css or "black" %].css">
	<link rel="icon" type="image/ico" href="/favicon.ico">
	<script type="text/javascript" src="/static/js/raid.js"></script>
	<script type="text/javascript" src="/static/js/jquery-1.2.6.min.js"></script>
</head>
 <body>
[% content %]

<script type="text/javascript">
<!--
$(document).ready(function(){
	$('.hidden').hide();
	$('a[rel="external"]').click(function() {
		window.open( $(this).attr('href') );
		return false;
	});
});
-->
</script>
</body>
</html>
