body,html {
	font-family: sans-serif;
	color: #B2B2B2;
	background-color: black;
}

a {
	color: white;
	text-decoration:underline;
}
a:hover {
	color: black;
	background: white;
}

input,textarea,select {
	color: black;
	background: #B2B2B2;
}

img.graph {
	background: gray;
}

td.sticky {
	font-weight: bold;
}


legend {
	color: black;
	background: gray;
	border-style: solid;
	border-width: 1px;
	padding: 1px;
}
table.boards td {
	/*border-style: solid;
	border-width: 1px;*/
	padding: 2px;
	border-collapse: separate;
	border-spacing: 15pt;
	font-size: larger;
}
table.boards{
	border-collapse: separate;
	border-spacing: 5px;
}
table.boards th {
	font-size: larger;
}

table.boards a {
	text-decoration: none;
	width: 100%;
	display: block;
}
fieldset.forum-post {
	width: 40em;
}
fieldset.forum-post legend b {
	font-size: larger;
}
div.leftinfo{
	float: left;
	padding-right: 2em;
}
p.claimlinks{
	clear: both;
}

ul.linkbar {
	list-style-type: none;
	width: 13.5em;
	padding: 0;
	margin: 0;
}
ul.linkbar li {
	background: gray;
	color: black;
	margin: 0.5em 0;
	padding: 0.3em;
	/*border-right: 1em solid black;*/
}
ul.linkbar a {
	text-decoration: none;
	width: 100%;
	display: block;
}
input.coordsinput {
	width: 4em;
}
input.small {
	width: 1.7em;
}
tr.even {
	background: #B2B2B2;
	color: black;
}
tr.odd {
	background: gray;
	color: black;
}
tr.total {
	background: black;
	color: red;
}

td.ingal{
	background: blue;
	color: black;
}
td.Defend{
	background: green;
	color: black;
}
td.AllyDef{
	background: #00FF00;
	color: black;
}
td.Attack{
	background: red;
	color: black;
}

a.Unclaim{
	color: green;
}
input.Unclaim{
	background: green;
}
a.Claim{
	color: blue;
}
a.Join{
	color: #00AAAA;
}
input.Join{
	background: #00AAAA;
}

td.Friendly{
	background: green;
	color: black;
}
td.Friendly a{
	color: yellow;
	background: green;
}
td.Hostile{
	background: red;
	color: black;
}
td.NAP{
	background: blue;
	color: white;
}
td.NAP a{
	color: yellow;
	background: blue;
}
table.old{
	border: outset 1pt;
	border-collapse: separate;
	border-color: red;
}

table.closedPlanet{
	border: outset 2pt;
	border-collapse: separate;
	border-color: red;
}
li.bash{
	color: #FF9933;
}
div.clear {
	clear: both;
	height: 0;
	margin: 0;
	padding: 0;
	line-height: 0.0;
	font-size: 1px;
}

td.LowestPrio{
	background: red;
	color: black;
}
td.MediumPrio{
	background: yellow;
	color: black;
}
td.HighestPrio{
	background: green;
	color: black;
}
span.newposts,span.unreadposts {
	font-weight: bold;
}
span.newposts {
	color: red;
}
