<TMPL_VAR NAME=Error>
<TMPL_LOOP Scans>
<p><TMPL_VAR NAME=Scan> <TMPL_VAR NAME=Message></p>
</TMPL_LOOP>
<div class="leftinfo">
	<form action="/index.pl" method="post"><fieldset> <legend>Intel/scans</legend>
		<p>Paste <b>scan urls</b> and intel from <b>gal status</b> here</p>
		<textarea rows="20" cols="50" name="intel"></textarea>
		<input type="hidden" name="cmd" value="submit"/>
		<input type="hidden" name="page" value="addintel"/>
		<br/>Tick:<input type="text" name="tick" value="<TMPL_VAR NAME=Tick>"/>
		<input type="submit" value="Submit"/>
	</fieldset></form>
</div>

<form action="/index.pl" method="post"><fieldset> <legend>Intel</legend>
	<p>Write other messages to intel dept here (sms numbers, relay channels, bots etc) (<b>NOT gal status</b>):</p>
	<textarea rows="20" cols="50" name="intel"></textarea>
	<input type="hidden" name="cmd" value="submit_message"/>
	<input type="hidden" name="page" value="addintel"/>
	<br/><input type="submit" value="Submit"/>
</fieldset></form>
