<TMPL_VAR NAME=Error>
<TMPL_IF Alliance>
<form action="<TMPL_VAR NAME=PAGE>" method="post"><fieldset> <legend>Alliances: </legend>
	<input type="hidden" name="page" value="<TMPL_VAR NAME=PAGE>"/>
	<input type="hidden" name="cmd" value="change"/>
	<input type="hidden" name="alliance" value="<TMPL_VAR NAME=Id>"/>
<div class="leftinfo">
	<p>Alliance: <TMPL_VAR NAME=Alliance></p>
	<p>Relationship: <select name="relationship">
		<TMPL_LOOP Relationships>
			<option value="<TMPL_VAR NAME=Rel>" <TMPL_IF NAME=Selected>selected="selected"</TMPL_IF>><TMPL_VAR NAME=Rel></option>
		</TMPL_LOOP>
		</select>
		<input type="checkbox" name="crelationship"/></p>
</div>

<div class="leftinfo">
	<p>Paste a list of coords that you want to add to this alliance</p>
	<textarea rows="10" cols="40" name="coords"></textarea>
</div>
<div class="clear">&nbsp;</div>
	<p class="claimlinks"><input type="submit" value="Submit"/></p>
</fieldset></form>
<div class="leftinfo">
<table>
	<tr>
		<th><a href="/?page=<TMPL_VAR NAME=PAGE>&amp;alliance=<TMPL_VAR NAME=Id>&amp;order=coords">Coords</a></th>
		<th>Nick</th>
		<th><a href="/?page=<TMPL_VAR NAME=PAGE>&amp;alliance=<TMPL_VAR NAME=Id>&amp;order=hit_us">Hit us</a></th>
		<th>Planet</th>
		<th><a href="/?page=<TMPL_VAR NAME=PAGE>&amp;alliance=<TMPL_VAR NAME=Id>&amp;order=race">Race</a></th>
		<th><a href="/?page=<TMPL_VAR NAME=PAGE>&amp;alliance=<TMPL_VAR NAME=Id>&amp;order=size">Size (rank)</a></th>
		<th><a href="/?page=<TMPL_VAR NAME=PAGE>&amp;alliance=<TMPL_VAR NAME=Id>&amp;order=score">Score (rank)</a></th>
		<th><a href="/?page=<TMPL_VAR NAME=PAGE>&amp;alliance=<TMPL_VAR NAME=Id>&amp;order=value">Value (rank)</a></th>
		<th><a href="/?page=<TMPL_VAR NAME=PAGE>&amp;alliance=<TMPL_VAR NAME=Id>&amp;order=xp">XP (rank)</a></th>
	</tr>
	<TMPL_LOOP Members>
	<tr class="<TMPL_IF ODD>odd<TMPL_ELSE>even</TMPL_IF>">
		<td><a href="check?coords=<TMPL_VAR NAME=Coords>"><TMPL_VAR NAME=Coords></a></td>
		<td class="<TMPL_VAR NAME=Planet_status>"><a href="intel?coords=<TMPL_VAR NAME=Coords>"><TMPL_VAR NAME=Nick>(<TMPL_VAR NAME=Planet_status>)</a></td>
		<td><TMPL_VAR NAME=hit_us></td>
		<td><TMPL_VAR NAME=ruler> OF <TMPL_VAR NAME=planet></td>
		<td><TMPL_VAR NAME=race></td>
		<td><TMPL_VAR NAME=size> (<TMPL_VAR NAME=sizerank>)</td>
		<td><TMPL_VAR NAME=score> (<TMPL_VAR NAME=scorerank>)</td>
		<td><TMPL_VAR NAME=value> (<TMPL_VAR NAME=valuerank>)</td>
		<td><TMPL_VAR NAME=xp> (<TMPL_VAR NAME=xprank>)</td>
	</tr>
	</TMPL_LOOP>
</table>
</div>
<div class="leftinfo">
<table>
	<tr>
		<th>Alliance</th><th>Sender</th>
		<th>Mission</th><th>Landing tick</th><th>ETA</th><th>Amount</th>
		<th>Target</th><th>Alliance</th>
		<th>Ingal</th><th>Reported by</th>
	</tr>
	<TMPL_LOOP Intel>
	<tr class="<TMPL_IF ODD>odd<TMPL_ELSE>even</TMPL_IF>">
	<td><a href="intel?coords=<TMPL_VAR NAME=Origin>"><TMPL_VAR NAME=Origin></a></td>
	<td><TMPL_VAR NAME=OAlliance></td>
	<td class="<TMPL_VAR NAME=MissionClass>"><TMPL_VAR NAME=Mission></td>
	<td align="center"><TMPL_VAR NAME=landingtick></td>
	<td align="center"><TMPL_VAR NAME=ETA></td>
	<td><TMPL_VAR NAME=Amount></td>
	<td><a href="intel?coords=<TMPL_VAR NAME=Target>"><TMPL_VAR NAME=Target></a></td>
	<td><TMPL_VAR NAME=TAlliance></td>
	<td><TMPL_VAR NAME=Ingal></td>
	<td><TMPL_VAR NAME=Username></td>
	</tr>
	</TMPL_LOOP>
</table>
</div>

<TMPL_ELSE>
<table>
	<tr>
		<th>User</th>
		<th>Known members</th>
		<th>Total members</th>
		<th><a href="/?page=<TMPL_VAR NAME=PAGE>&amp;order=score">Score</a> (<a href="/?page=<TMPL_VAR NAME=PAGE>&amp;order=kscore">known planets</a>)</th>
		<th><a href="/?page=<TMPL_VAR NAME=PAGE>&amp;order=scavg">Avg Score</a> (<a href="/?page=<TMPL_VAR NAME=PAGE>&amp;order=kscavg">known planets</a>)</th>
		<th><a href="/?page=<TMPL_VAR NAME=PAGE>&amp;order=size">Size</a> (<a href="/?page=<TMPL_VAR NAME=PAGE>&amp;order=ksize">known planets</a>)</th>
		<th><a href="/?page=<TMPL_VAR NAME=PAGE>&amp;order=siavg">Avg Size</a> (<a href="/?page=<TMPL_VAR NAME=PAGE>&amp;order=ksiavg">known planets</a>)</th>
		<th><a href="/?page=<TMPL_VAR NAME=PAGE>&amp;order=kxp">XP</a> (<a href="/?page=<TMPL_VAR NAME=PAGE>&amp;order=kxpavg">avg</a>)</th>
		<th><a href="/?page=<TMPL_VAR NAME=PAGE>&amp;order=kvalue">Value</a> (<a href="/?page=<TMPL_VAR NAME=PAGE>&amp;order=kvalavg">avg</a>)</th>
	</tr>
<TMPL_LOOP Alliances>
	<tr class="<TMPL_IF ODD>odd<TMPL_ELSE>even</TMPL_IF>">
		<td><a href="/?page=<TMPL_VAR NAME=PAGE>&amp;alliance=<TMPL_VAR NAME=Id>"><TMPL_VAR NAME=Name></a></td>
		<td><TMPL_VAR NAME=kmem></td>
		<td><TMPL_VAR NAME=members></td>
		<td><TMPL_VAR NAME=score> (<TMPL_VAR NAME=kscore>)</td>
		<td><TMPL_VAR NAME=scavg> (<TMPL_VAR NAME=kscavg>)</td>
		<td><TMPL_VAR NAME=size> (<TMPL_VAR NAME=ksize>)</td>
		<td><TMPL_VAR NAME=siavg> (<TMPL_VAR NAME=ksiavg>)</td>
		<td><TMPL_VAR NAME=kxp> (<TMPL_VAR NAME=kxpavg>)</td>
		<td><TMPL_VAR NAME=kvalue> (<TMPL_VAR NAME=kvalavg>)</td>
	</tr>
</TMPL_LOOP>
</table>
</TMPL_IF>
