<TMPL_IF Call>
<form action="<TMPL_VAR NAME=PAGE>" method="post">
<input type="hidden" name="page" value="<TMPL_VAR NAME=PAGE>"/>
<input type="hidden" name="call" value="<TMPL_VAR NAME=Call>"/>
<fieldset> <legend>Call details, call# <TMPL_VAR NAME=Call></legend>
<table>
<tr>
<td>
<ul>
	<li>Current DC: <TMPL_VAR NAME=DC></li>
	<li>Member:<TMPL_VAR NAME=Member> </li>
	<li>SMS:<TMPL_VAR NAME=SMS> </li>
	<li>Coords: <a href="check?coords=<TMPL_VAR NAME=Coords>"><TMPL_VAR NAME=Coords></a></li>
	<li>Defense points: <TMPL_VAR NAME=DefensePoints></li>
	<li>Landing at tick: <br/>
		<input type="text" name="tick" value="<TMPL_VAR NAME=LandingTick>"/>
		<input type="checkbox" name="ctick"/></li>
	<li>Current ETA: <TMPL_VAR NAME=ETA></li>
</ul>
</td>
<td>
	<textarea rows="8" cols="40" name="info">
				<TMPL_VAR NAME=Info>
	</textarea>
</td>
<td><ul>
	<li><input type="text" name="bcalc" value="<TMPL_VAR NAME=BCalc>"/><input type="checkbox" name="cbcalc"/></li>
	<li>Change Notes? <input type="checkbox" name="cinfo"/></li>
	<li><input type="submit" name="cmd" value="Submit"/></li>
	<li><input type="submit" name="cmd" value="Take call"/></li>
	<li><input type="submit" name="cmd" value="<TMPL_VAR NAME=Cover> call"/></li>
	<li><input type="submit" name="cmd" value="<TMPL_VAR NAME=Ignore> call"/></li>
</ul></td>
</tr>
</table>
</fieldset>
</form>
<fieldset><legend>Attackers:</legend>
<form action="<TMPL_VAR NAME=PAGE>" method="post">
	<input type="hidden" name="page" value="<TMPL_VAR NAME=PAGE>"/>
	<input type="hidden" name="call" value="<TMPL_VAR NAME=Call>"/>
	<table>
	<tr>
	<th>Coords</th>
	<th>Planet status</th>
	<th>Alliance</th>
	<th>Race</th>
	<th>Initial ETA</th>
	<th>Amount</th>
	<th>Shiptypes</th>
	<th>Fleet</th>
	<th>Change/remove?</th>
	</tr>
	<TMPL_LOOP Attackers>
	<tr class="<TMPL_IF __odd__>odd<TMPL_ELSE>even</TMPL_IF>" onclick="toggleVisibility('attacker<TMPL_VAR NAME=Id>')">
		<td><a href="/check?coords=<TMPL_VAR NAME=Coords>"><TMPL_VAR NAME=Coords></a></td>
		<td class="<TMPL_VAR NAME=Planet_status>"><TMPL_VAR NAME=Planet_status></td>
		<td class="<TMPL_VAR NAME=Relationship>"><TMPL_VAR NAME=Alliance> (<TMPL_VAR NAME=Relationship>)</td>
		<td><TMPL_VAR NAME=Race></td>
		<td><TMPL_VAR NAME=ETA></td>
		<td><TMPL_VAR NAME=Amount></td>
		<td><input class="coord" type="text" name="shiptype:<TMPL_VAR NAME=Id>" value="<TMPL_VAR NAME=Shiptype>"/></td>
		<td><TMPL_VAR NAME=Fleet></td>
		<td><input type="checkbox" name="change:<TMPL_VAR NAME=Id>"/></td>
	</tr>
	<tr id="attacker<TMPL_VAR NAME=Id>" style="z-index:1; display:none;">
	<td></td>
	<td colspan="8">
	<table>
		<tr><th>Target</th><th>Name</th><th>Mission</th><th>Tick</th><th>ETA</th><th>Amount</th></tr>
		<TMPL_LOOP Missions>
		<tr align="center" class="<TMPL_IF __odd__>odd<TMPL_ELSE>even</TMPL_IF>" onclick="toggleVisibility('fleet<TMPL_VAR NAME=Id>')">
			<td><a href="/check?coords=<TMPL_VAR NAME=Target>"><TMPL_VAR NAME=Target></a></td>
			<td><TMPL_VAR NAME=Name></td>
			<td class="<TMPL_VAR NAME=Class>"><TMPL_VAR NAME=Mission></td><td><TMPL_VAR NAME=Tick></td>
			<td><TMPL_VAR NAME=ETA></td><td><TMPL_VAR NAME=Amount></td>
		</tr>
		<tr id="fleet<TMPL_VAR NAME=Id>" style="z-index:1; display:none;">
			<td/>
			<td colspan="5"><table>
			<TMPL_LOOP Ships>
			<tr class="<TMPL_IF __odd__>odd<TMPL_ELSE>even</TMPL_IF>">
				<td><TMPL_VAR NAME=Ship></td><td><TMPL_VAR NAME=Amount></td>
			</tr>
			</TMPL_LOOP>
			</table></td>
		</tr>
		</TMPL_LOOP>
	</table>
	</td></tr>
	</TMPL_LOOP>
	</table>
	<p>
	<input type="submit" name="cmd" value="Change"/>
	<input type="submit" name="cmd" value="Remove"/>
	</p>
</form>
</fieldset>
<fieldset><legend>Member fleet</legend>
<table>
	<tr><th>Target</th><th>Name</th><th>Mission</th><th>Tick</th><th>ETA</th><th>Amount</th></tr>
	<TMPL_LOOP Fleets>
	<tr align="center" class="<TMPL_IF __odd__>odd<TMPL_ELSE>even</TMPL_IF>" onclick="toggleVisibility('fleet<TMPL_VAR NAME=Id>')">
		<td><a href="/check?coords=<TMPL_VAR NAME=Target>"><TMPL_VAR NAME=Target></a></td>
		<td><TMPL_VAR NAME=Name></td>
		<td class="<TMPL_VAR NAME=Class>"><TMPL_VAR NAME=Mission></td><td><TMPL_VAR NAME=Tick></td>
		<td><TMPL_VAR NAME=ETA></td><td><TMPL_VAR NAME=Amount></td>
	</tr>
	<tr id="fleet<TMPL_VAR NAME=Id>" style="z-index:1; display:none;">
		<td/>
		<td colspan="5"><table>
		<TMPL_LOOP Ships>
		<tr class="<TMPL_IF __odd__>odd<TMPL_ELSE>even</TMPL_IF>">
			<td><TMPL_VAR NAME=Ship></td><td><TMPL_VAR NAME=Amount></td>
		</tr>
		</TMPL_LOOP>
		</table></td>
	</tr>
	</TMPL_LOOP>
</table>
</fieldset>
<fieldset><legend>Defenders</legend>
<table>
	<tr><th>Sender</th><th>Name</th><th>Mission</th><th>Landing Tick</th><th>ETA</th><th>Amount</th></tr>
	<TMPL_LOOP Defenders>
	<tr align="center" class="<TMPL_IF __odd__>odd<TMPL_ELSE>even</TMPL_IF>" onclick="toggleVisibility('fleet<TMPL_VAR NAME=Id>')">
		<td><a href="/check?coords=<TMPL_VAR NAME=Sender>"><TMPL_VAR NAME=Sender></a></td>
		<td><TMPL_VAR NAME=Name></td>
		<td class="<TMPL_VAR NAME=Class>"><TMPL_VAR NAME=Mission></td><td><TMPL_VAR NAME=Tick></td>
		<td><TMPL_VAR NAME=ETA></td><td><TMPL_VAR NAME=Amount></td>
	</tr>
	<tr id="fleet<TMPL_VAR NAME=Id>" style="z-index:1; display:none;">
		<td/>
		<td colspan="5"><table>
		<TMPL_LOOP Ships>
		<tr class="<TMPL_IF __odd__>odd<TMPL_ELSE>even</TMPL_IF>">
			<td><TMPL_VAR NAME=Ship></td><td><TMPL_VAR NAME=Amount></td>
		</tr>
		</TMPL_LOOP>
		</table></td>
	</tr>
	</TMPL_LOOP>
</table>
</fieldset>

<TMPL_IF Thread>
<div>
<TMPL_VAR ESCAPE=NONE NAME=Thread>
<form action="<TMPL_VAR NAME=PAGE>#NewPosts" method="post"><fieldset class="forum-post"> <legend>New Reply</legend>
	<textarea rows="10" cols="60" name="message"></textarea>
	<input type="hidden" name="cmd" value="forumpost"/>
	<input type="hidden" name="t" value="<TMPL_VAR NAME=Id>"/>
	<input type="hidden" name="page" value="<TMPL_VAR NAME=PAGE>"/>
	<input type="hidden" name="call" value="<TMPL_VAR NAME=Call>"/>
	<br/>
	<input type="submit" value="Submit"/>
</fieldset></form>
</div>
</TMPL_IF>
<TMPL_ELSE>
<table>
	<tr><th>Call</th><th>DC</th><th>Def Fleets</th><th>Member (def points)</th><th>Landing tick</th><th>Races</th><th>Amount</th><th>Shiptypes</th><th>ETA</th><th>Alliance</th><th>Attackers</th></tr>
<TMPL_LOOP Calls>
	<tr align="center" class="<TMPL_IF __odd__>odd<TMPL_ELSE>even</TMPL_IF>">
		<td class="<TMPL_VAR NAME=DCSTYLE>"><a href="/<TMPL_VAR NAME=PAGE>?call=<TMPL_VAR NAME=Id>"><TMPL_VAR NAME=Id></a></td>
		<td><TMPL_VAR NAME=DC></td>
		<td><TMPL_VAR NAME=Fleets></td>
		<td class='<TMPL_VAR NAME=DefPrio>'><TMPL_IF Id><a href="/check?coords=<TMPL_VAR NAME=Coords>"><TMPL_VAR NAME=Coords> (<TMPL_VAR NAME=Defense_points>)</a><TMPL_ELSE>-New Day-</TMPL_IF></td>
		<td><TMPL_VAR NAME=Landing_tick></td>
		<td><TMPL_VAR NAME=Race></td>
		<td><TMPL_VAR NAME=Amount></td>
		<td><TMPL_VAR NAME=Shiptype></td>
		<td><TMPL_VAR NAME=Curreta> (<TMPL_VAR NAME=Eta>)</td>
		<td><TMPL_VAR NAME=Alliance></td>
		<td><TMPL_VAR ESCAPE=NONE NAME=Attackers></td>
	</tr>
</TMPL_LOOP>
</table>
</TMPL_IF>
