<p><TMPL_IF Arbiter><TMPL_VAR NAME=Arbiter><TMPL_ELSE><a href="/<TMPL_VAR NAME=PAGE>?cmd=arbiter&amp;coords=<TMPL_VAR ESCAPE=URL NAME=Coords>">Do arbiter check on gal</a></TMPL_IF></p>
<table>
	<tr><th>Coords</th><th>Planet</th><th>Race</th><th>Size (rank)</th><th>Score (rank)</th><th>Value (rank)</th>
		<th>XP (rank)</th><th>Fleet (Resouce) value</th><TMPL_IF isBC><th>Nick</th><th>Hit us</th><th>Alliance</th></TMPL_IF>
	</tr>
	<TMPL_LOOP Planets>
	<tr align="center" class="<TMPL_IF ODD>odd<TMPL_ELSE>even</TMPL_IF>">
		<td><a href="/<TMPL_VAR NAME=PAGE>?coords=<TMPL_VAR NAME=Coords>"><TMPL_VAR NAME=Coords></a></td>
		<td><TMPL_VAR NAME=Planet></td><td><TMPL_VAR NAME=Race></td><td><TMPL_VAR NAME=Size></td>
		<td><TMPL_VAR NAME=Score></td><td><TMPL_VAR NAME=Value></td><td><TMPL_VAR NAME=XP></td>
		<td><TMPL_VAR NAME=FleetValue></td><TMPL_IF isBC><td class="<TMPL_VAR NAME=PlanetStatus>"><a href="intel?coords=<TMPL_VAR NAME=Coords>"><TMPL_VAR NAME=Nick></a></td><td><TMPL_VAR NAME=HitUs></td>
		<td class="<TMPL_VAR NAME=Relationship>"><TMPL_VAR NAME=Alliance></td></TMPL_IF>
	</tr>

	</TMPL_LOOP>
</table>
<div class="leftinfo">
<img class="graph" src="/graph/stats/<TMPL_VAR NAME=Coords>" alt="stats" height="300" width="500"/>
<img class="graph" src="/graph/ranks/<TMPL_VAR NAME=Coords>" alt="ranks" height="300" width="500"/>
</div>
<TMPL_IF OnePlanet>
<table border="1">
	<tr><th>Target</th><th>Mission</th><th>Landing tick</th><th>ETA</th><th>Amount</th></tr>
	<TMPL_LOOP Missions>
	<tr align="center">
		<td><TMPL_VAR NAME=Target></td><td><TMPL_VAR NAME=Mission></td><td><TMPL_VAR NAME=LandingTick></td>
		<td><TMPL_VAR NAME=ETA></td><td><TMPL_VAR NAME=Amount></td>
	</tr>
	</TMPL_LOOP>
</table>
<TMPL_LOOP Scans>
<div class="leftinfo">
<TMPL_VAR NAME=Scan>
</div>
</TMPL_LOOP>
</TMPL_IF>
