<!-- <TMPL_VAR NAME=Page> -->
<table>
	<tr>
	<th>User</th>
	<th>Def Points</th>
	<th>Def Missions</th>
	<th>Recalled missions</th>
	<th>Calls</th>
	</tr>
	<TMPL_LOOP Members>
	<tr class="<TMPL_IF __odd__>odd<TMPL_ELSE>even</TMPL_IF>">
	<td><TMPL_VAR NAME=Username></td>
	<td><TMPL_VAR NAME=Defense_Points></td>
	<td><TMPL_VAR NAME=Fleets></td>
	<td><TMPL_VAR NAME=Recalled></td>
	<td><TMPL_VAR NAME=Calls></td>
	</tr>
	</TMPL_LOOP>
</table>
