<TMPL_VAR NAME=Error>
<TMPL_IF Reply><p>Sent the message '<TMPL_VAR NAME=Reply>' to def
channel</p></TMPL_IF>
<form action="<TMPL_VAR NAME=PAGE>" method="post"><fieldset> <legend>Launch confirmation</legend>
	<p>Message to def channel (like a line from gal status):</p>
	<input type="text" name="message" value=""/>
	<input type="hidden" name="cmd" value="submit"/>
	<input type="hidden" name="page" value="<TMPL_VAR NAME=PAGE>"/>
	<br/>
	<input type="submit" value="Submit"/>
</fieldset></form>
