<TMPL_VAR NAME=Error>
<form action="/" method="post">
	<fieldset> <legend><TMPL_IF Raid>Edit raid<TMPL_ELSE>New raid</TMPL_IF></legend>
		<input type="hidden" name="page" value="<TMPL_VAR NAME=PAGE>"/>
		<div class="leftinfo">
		<TMPL_IF Raid>
			<input type="hidden" name="cmd" value="change"/>
			<input type="hidden" name="raid" value="<TMPL_VAR NAME=Raid>"/>
			<p><a href="/?page=<TMPL_VAR NAME=PAGE>&amp;raid=<TMPL_VAR NAME=Raid>&amp;cmd=<TMPL_VAR NAME=Open>"><TMPL_VAR NAME=Open> raid.</a></p>
			<p><a href="/?page=<TMPL_VAR NAME=PAGE>&amp;raid=<TMPL_VAR NAME=Raid>&amp;cmd=<TMPL_VAR NAME=ShowCoords>"><TMPL_VAR NAME=ShowCoordsName> coords.</a></p>
			<p><a href="/?page=<TMPL_VAR NAME=PAGE>&amp;raid=<TMPL_VAR NAME=Raid>&amp;cmd=remove">Remove raid</a></p>
		<TMPL_ELSE>
			<input type="hidden" name="cmd" value="submit"/>
		</TMPL_IF>
			<p>Landing tick: <input type="text" name="tick" value="<TMPL_VAR NAME=LandingTick>"/></p>
			<p>Number of waves: <input type="text" name="waves" value="<TMPL_VAR NAME=Waves>"/></p>
		<TMPL_IF RemoveGroups>
			<p>The following groups has access to the raid</p>
			<table>
			<tr><th>Group</th><th>Remove</th></tr>
		<TMPL_LOOP RemoveGroups>
			<tr><td><TMPL_VAR NAME=Name></td><td><input type="checkbox" name="<TMPL_VAR NAME=Id>" value="remove"/></td></tr>
		</TMPL_LOOP>
			</table>		
		</TMPL_IF>
		<TMPL_IF AddGroups>
			<p>These does not have access to the raid</p>
			<table>
			<tr><th>Group</th><th>Add</th></tr>
		<TMPL_LOOP AddGroups>
			<tr><td><TMPL_VAR NAME=Name></td><td><input type="checkbox" name="<TMPL_VAR NAME=Id>" value="add"/></td></tr>
		</TMPL_LOOP>
			</table>		
		</TMPL_IF>
		</div>
		<div class="leftinfo">
			<p>Raid message here</p>
			<textarea rows="15" cols="40" name="message"><TMPL_VAR NAME=Message></textarea>
		</div>
		<div class="leftinfo">
			<p>List all target coords here</p>
			<textarea rows="15" cols="40" name="targets"></textarea>
		</div>
		<div class="clear">&nbsp;</div>
		<p class="claimlinks">Add all coords from: <select name="alliance">
			<TMPL_LOOP Alliances>
				<option value="<TMPL_VAR NAME=Id>" <TMPL_IF NAME=Selected>selected="selected"</TMPL_IF>><TMPL_VAR NAME=Name></option>
			</TMPL_LOOP>
			</select>
			<br/>Size limit (Filters out smaller planets): 
			<input type="text" name="sizelimit" value=""/>
			<br/><input type="submit" value="Submit"/>
		</p>
	</fieldset>
</form>
<TMPL_IF Raid>
	<p>Sort by:
		<a href="/?page=<TMPL_VAR NAME=PAGE>&amp;raid=<TMPL_VAR NAME=Raid>&amp;order=coords">Coords</a>
		<a href="/?page=<TMPL_VAR NAME=PAGE>&amp;raid=<TMPL_VAR NAME=Raid>&amp;order=race">Race</a>
		<a href="/?page=<TMPL_VAR NAME=PAGE>&amp;raid=<TMPL_VAR NAME=Raid>&amp;order=size">Size</a>
		<a href="/?page=<TMPL_VAR NAME=PAGE>&amp;raid=<TMPL_VAR NAME=Raid>&amp;order=score">Score</a>
		<a href="/?page=<TMPL_VAR NAME=PAGE>&amp;raid=<TMPL_VAR NAME=Raid>&amp;order=value">Value</a>
		<a href="/?page=<TMPL_VAR NAME=PAGE>&amp;raid=<TMPL_VAR NAME=Raid>&amp;order=xp">XP</a>
	</p>
<TMPL_LOOP Targets>
	<fieldset> <legend>Target: #<TMPL_VAR NAME=Id> <TMPL_VAR NAME=Coords></legend>
	<div class="leftinfo">
		<ul>
			<li>Size: <TMPL_VAR NAME=Size></li>
			<li>Score: <TMPL_VAR NAME=Score></li>
			<li>Value: <TMPL_VAR NAME=Value></li>
			<li>Race: <TMPL_VAR NAME=Race></li>
		</ul>
		<table>
			<tr><th>Planet status</th><th>Alliance relationship</th></tr>
			<tr>
				<td class="<TMPL_VAR NAME=PlanetStatus>"><TMPL_VAR NAME=PlanetStatus></td>
				<td class="<TMPL_VAR NAME=Relationship>"><TMPL_VAR NAME=Relationship></td>
			</tr>
		</table>
	</div>
	<form action="/" method="post">
		<input type="hidden" name="page" value="<TMPL_VAR NAME=PAGE>"/>
		<input type="hidden" name="target" value="<TMPL_VAR NAME=Id>"/>
		<input type="hidden" name="cmd" value="comment"/>
		<input type="hidden" name="raid" value="<TMPL_VAR NAME=Raid>"/>
		<p>	Comment:<br/>
			<textarea rows="5" cols="20" name="comment"><TMPL_VAR NAME=Comment></textarea>
			<br/><input type="submit" value="Submit"/>
		</p>
	</form>
	<div class="clear">&nbsp;</div>
	<p><a href="/?page=<TMPL_VAR NAME=PAGE>&amp;raid=<TMPL_VAR NAME=Raid>&amp;removeTarget=<TMPL_VAR NAME=Id>">Remove</a></p>
	</fieldset>
</TMPL_LOOP>
</TMPL_IF>
