<TMPL_VAR NAME=Error>
<TMPL_IF Thread>
<h2><TMPL_VAR NAME=Subject></h2>
<TMPL_LOOP Posts>
<fieldset class="forum-post">
<legend class="<TMPL_VAR NAME=Unread>"><b><TMPL_VAR NAME=Username></b> : <TMPL_VAR NAME=Time></legend>
<TMPL_VAR NAME=Message>
</fieldset>
</TMPL_LOOP>
</TMPL_IF>
<TMPL_IF Board>
<h2><TMPL_VAR NAME=Board></h2>
<table class="boards">
<tr>
	<th>Unread</th>
	<th>Total</th>
	<th>Subject</th>
</tr>
<TMPL_LOOP Threads>
	<tr class="<TMPL_IF ODD>odd<TMPL_ELSE>even</TMPL_IF>">
		<td align="center"><TMPL_VAR NAME=Unread></td>
		<td align="center"><TMPL_VAR NAME=Posts></td>
		<td><a href="<TMPL_VAR NAME=PAGE>?t=<TMPL_VAR NAME=Id>"><TMPL_VAR NAME=Subject></a></td>
	</tr>
</TMPL_LOOP>
</table>
<TMPL_IF Post>
<form action="<TMPL_VAR NAME=PAGE>" method="post"><fieldset> <legend>New Thread</legend>
	<p></p>
	<p>Subject: <input type="text" name="subject" value=""/></p>
	<textarea rows="25" cols="80" name="mission"></textarea>
	<input type="hidden" name="cmd" value="submit"/>
	<input type="hidden" name="page" value="<TMPL_VAR NAME=PAGE>"/>
	<br/>
	<input type="submit" value="Submit"/>
</fieldset></form>
</TMPL_IF>
</TMPL_IF>
<TMPL_IF Overview>
<table class="boards">
<tr>
	<th>Unread</th>
	<th>Board</th>
</tr>
<TMPL_LOOP Categories>
	<tr><th colspan="2"><TMPL_VAR NAME=Category></th></tr>
	<TMPL_LOOP Boards>
	<tr class="<TMPL_IF ODD>odd<TMPL_ELSE>even</TMPL_IF>">
		<td align="center"><TMPL_VAR NAME=Unread></td>
		<td><a href="<TMPL_VAR NAME=PAGE>?b=<TMPL_VAR NAME=Id>"><TMPL_VAR NAME=Board></a></td>
	</tr>
	</TMPL_LOOP>
</TMPL_LOOP>
</table>
</TMPL_IF>
