<TMPL_VAR NAME=Error>
<TMPL_LOOP Missions>
<TMPL_IF Warning><p><b><TMPL_VAR NAME=Warning></b></p></TMPL_IF>
<p>Adding the following fleet: <TMPL_VAR NAME=Fleet>
<br/>Target: <TMPL_VAR NAME=Target>
<br/>Mission: <TMPL_VAR NAME=Mission>
<br/>Landing tick: <TMPL_VAR NAME=Tick>
<br/>Back: <TMPL_VAR NAME=Back>
</p>
<table>
<TMPL_LOOP Ships>
	<tr><td><TMPL_VAR NAME=Ship></td><td><TMPL_VAR NAME=Amount></td></tr>
</TMPL_LOOP>
</table>
<hr/>
</TMPL_LOOP>
<form action="index.pl" method="post"><fieldset> <legend>Launch confirmation</legend>
	<p>Paste all (ctrl+a should be ok, but try with just single mission if you get an error, save the ctrl+a output and contact harv) information from <b>missions page</b> here (NOT from news page, and not overview, nor gal status). It's ok to paste when prelaunched, as long as you're sure you won't change your plans.</p>
	<textarea rows="25" cols="80" name="mission"></textarea>
	<input type="hidden" name="cmd" value="submit"/>
	<input type="hidden" name="page" value="<TMPL_VAR NAME=PAGE>"/>
	<br/>
	<input type="submit" value="Submit"/>
</fieldset></form>
