<TMPL_VAR NAME=Error>
<TMPL_LOOP Scans>
<p><TMPL_VAR NAME=Scan> <TMPL_VAR NAME=Message></p>
</TMPL_LOOP>

<form action="<TMPL_VAR NAME=PAGE>" method="post"><fieldset> <legend>Intel</legend>
	Subject: <input type="text" name="subject" value=""/>
	<br/>To: <select name="group">
		<TMPL_LOOP Groups>
		<option value="<TMPL_VAR NAME=GID>"><TMPL_VAR NAME=GroupName></option>
		</TMPL_LOOP>
	</select>
	<br/><textarea rows="20" cols="50" name="message"></textarea>
	<input type="hidden" name="page" value="<TMPL_VAR NAME=PAGE>"/>
	<br/><input type="submit" name="cmd" value="Submit"/>
</fieldset></form>
