<TMPL_VAR NAME=Error>
<div class="leftinfo">
<fieldset class="forum-post"> <legend>Message from HC<TMPL_IF isHC> <a href="motd?">EDIT</a></TMPL_IF></legend>
	<TMPL_VAR NAME=MOTD>
</fieldset>
</div>
<TMPL_IF PLANET>
<img class="graph" src="/graph/planetvsnd/<TMPL_VAR NAME=PLANET>" alt="Your planet vs ND avg" height="300" width="500"/>
</TMPL_IF>
<div class="clear"></div>

<TMPL_IF PLANET>
<table class="stats">
	<tr align="center"><th colspan="4">Rank</th>
	</tr>
	<tr><th>Size</th><th>Score</th><th>Value </th><th>XP</th><th>X</th><th>Y</th><th>Z</th><th>Planet</th><th>Race</th><th>Size</th><th>Score</th><th>Value</th>
		<th>XP</th>
	</tr>
<TMPL_LOOP Planets>
	<tr class="<TMPL_IF ODD>odd<TMPL_ELSE>even</TMPL_IF>">

		<td title="<TMPL_VAR NAME=SizeRank_Gain_day> Today | <TMPL_VAR NAME=SizeRank_Gain> Tick"><TMPL_VAR NAME=SizeRank> <img src="/images/<TMPL_VAR NAME=SizeRankImg>.png" alt="<TMPL_VAR NAME=SizeImg>"/> </td>
		<td title="<TMPL_VAR NAME=ScoreRank_Gain_day> Today | <TMPL_VAR NAME=ScoreRank_Gain> Tick"><TMPL_VAR NAME=ScoreRank> <img src="/images/<TMPL_VAR NAME=ScoreRankImg>.png" alt="<TMPL_VAR NAME=ScoreImg>"/> </td>
		<td title="<TMPL_VAR NAME=ValueRank_Gain_day> Today | <TMPL_VAR NAME=ValueRank_Gain> Tick"><TMPL_VAR NAME=ValueRank> <img src="/images/<TMPL_VAR NAME=ValueRankImg>.png" alt="<TMPL_VAR NAME=ValueImg>"/> </td>
		<td title="<TMPL_VAR NAME=XPRank_Gain_day> Today | <TMPL_VAR NAME=XPRank_Gain> Tick"><TMPL_VAR NAME=XPRank> <img src="/images/<TMPL_VAR NAME=XPRankImg>.png" alt="<TMPL_VAR NAME=XPImg>"/> </td>

		<td><TMPL_VAR NAME=X></td>
		<td><a href="/check?coords=<TMPL_VAR NAME=X>:<TMPL_VAR NAME=Y>"><TMPL_VAR NAME=Y></a></td>
		<td><a href="/check?coords=<TMPL_VAR NAME=X>:<TMPL_VAR NAME=Y>:<TMPL_VAR NAME=Z>"><TMPL_VAR NAME=Z></a></td>
		<td align="center"><TMPL_VAR NAME=Planet></td>
		<td align="center"><TMPL_VAR NAME=Race></td>
		<td title="<TMPL_VAR NAME=Size_Gain_day> Today | <TMPL_VAR NAME=Size_Gain> Tick"><TMPL_VAR NAME=Size> <img src="/images/<TMPL_VAR NAME=SizeImg>.png" alt="<TMPL_VAR NAME=SizeImg>"/> </td>
		<td title="<TMPL_VAR NAME=Score_Gain_day> Today | <TMPL_VAR NAME=Score_Gain> Tick"><TMPL_VAR NAME=Score> <img src="/images/<TMPL_VAR NAME=ScoreImg>.png" alt="<TMPL_VAR NAME=ScoreImg>"/> </td>
		<td title="<TMPL_VAR NAME=Value_Gain_day> Today | <TMPL_VAR NAME=Value_Gain> Tick"><TMPL_VAR NAME=Value> <img src="/images/<TMPL_VAR NAME=ValueImg>.png" alt="<TMPL_VAR NAME=ValueImg>"/> </td>
		<td title="<TMPL_VAR NAME=XP_Gain_day> Today | <TMPL_VAR NAME=XP_Gain> Tick"><TMPL_VAR NAME=XP> <img src="/images/<TMPL_VAR NAME=XPImg>.png" alt="<TMPL_VAR NAME=XPImg>"/> </td>
		</tr>
	</TMPL_LOOP>
	</table>
</TMPL_IF>
<table>
	<tr><th>Call</th><th>DC</th><th>Landing tick</th><th>Races</th><th>Amount</th><th>Shiptypes</th><th>Current eta</th><th>Inital eta</th><th>Attackers</th></tr>
<TMPL_LOOP Calls>
	<tr align="center" class="<TMPL_IF ODD>odd<TMPL_ELSE>even</TMPL_IF>">
		<td class="<TMPL_VAR NAME=Covered>"><a href="/calls?call=<TMPL_VAR NAME=Id>"><TMPL_VAR NAME=Id></a></td>
		<td class="<TMPL_VAR NAME=DC>"><TMPL_VAR NAME=Username></td>
		<td><TMPL_VAR NAME=Tick></td>
		<td><TMPL_VAR NAME=Race></td>
		<td><TMPL_VAR NAME=Amount></td>
		<td><TMPL_VAR NAME=Shiptype></td>
		<td><TMPL_VAR NAME=Curreta></td>
		<td><TMPL_VAR NAME=Eta></td>
		<td><TMPL_VAR NAME=Attackers></td>
	</tr>
</TMPL_LOOP>
</table>
<div class="leftinfo">
<fieldset class="forum-post"> <legend>Account details</legend>
	<ul>
	<TMPL_IF isMEMBER>
	<li> ND rank (by score): <TMPL_VAR NAME=NDRank> </li>
	<li> Defense points: <TMPL_VAR NAME=DefensePoints> </li>
	<li> Attack points: <TMPL_VAR NAME=AttackPoints> </li>
	<li> Scan points: <TMPL_VAR NAME=ScanPoints> </li>
	<li> Humor points: <TMPL_VAR NAME=HumorPoints> </li>
	<li> Total points: <TMPL_VAR NAME=TotalPoints> </li>
	</TMPL_IF>
	<li> Member of the following groups: <TMPL_LOOP Groups><TMPL_VAR NAME=Name><TMPL_UNLESS __last__>, </TMPL_UNLESS></TMPL_LOOP></li>
	</ul>
	<TMPL_UNLESS PLANET>
		<TMPL_IF isMEMBER>
		<form action="<TMPL_VAR NAME=PAGE>" method="post">
			<p>We need your planet's coordinates: 
			<input type="text" name="planet" value=""/>
			<input type="submit" value="Submit"/>
			</p>
		</form>
		</TMPL_IF>
	</TMPL_UNLESS>
</fieldset>

<fieldset class="forum-post"> <legend>Fleets</legend>
<form action="<TMPL_VAR NAME=PAGE>" method="post">
	<table>
	<tr><th>Target</th><th>Mission</th><th>Amount</th><th>Landing Tick</th><th>Back home</th><th>change?</th></tr>
	<TMPL_LOOP Fleets>
	<tr class="<TMPL_IF ODD>odd<TMPL_ELSE>even</TMPL_IF>">
		<td><TMPL_VAR NAME=Target></td>
		<td><a href="javascript://"  onclick="toggleVisibility('fleet<TMPL_VAR NAME=Id>')"><TMPL_VAR NAME=Mission></a></td>
		<td><TMPL_VAR NAME=Amount></td><td><TMPL_VAR NAME=Tick></td>
		<td><TMPL_IF Fleet><input class="coordsinput" type="text" name="back:<TMPL_VAR NAME=Id>" value="<TMPL_VAR NAME=Back>"/></TMPL_IF></td>
		<td><TMPL_IF Fleet><input type="checkbox" name="change:<TMPL_VAR NAME=Id>"/></TMPL_IF></td>
	</tr>
	<tr id="fleet<TMPL_VAR NAME=Id>" style="z-index:1; display:none;">
		<td/>
		<td colspan="5"><table>
		<TMPL_LOOP Ships>
		<tr class="<TMPL_IF ODD>odd<TMPL_ELSE>even</TMPL_IF>">
			<td><TMPL_VAR NAME=Ship></td><td><TMPL_VAR NAME=Amount></td>
		</tr>
		</TMPL_LOOP>
		</table></td></tr>
	</TMPL_LOOP>
	</table>
	<p>
		<input type="hidden" name="page" value="<TMPL_VAR NAME=PAGE>"/>
		<input type="submit" name="cmd" value="Change Fleets"/>
		<input type="submit" name="cmd" value="Recall Fleets"/>
	</p>
</form>
</fieldset>
<form action="<TMPL_VAR NAME=PAGE>" method="post">
<fieldset class="forum-post"> <legend>Hostname</legend>
	<p>Hostname: 
	<input style="width:25em" type="text" name="hostname" value="<TMPL_VAR NAME=Hostname>"/>
	<input type="submit" value="Submit"/>
	</p>
</fieldset>
</form>
<form action="<TMPL_VAR NAME=PAGE>" method="post">
<fieldset class="forum-post"> <legend>SMS</legend>
	<p>Number: 
	<input type="text" name="sms" value="<TMPL_VAR NAME=SMS>"/>
	<input type="submit" value="Submit"/>
	</p>
</fieldset>
</form>
<TMPL_IF PLANET>
<form action="<TMPL_VAR NAME=PAGE>" method="post">
<fieldset class="forum-post"> <legend>Fleet</legend>
	<p>Paste your total fleet from ships section on overview here (do it daily to see the menus):</p>
	<textarea rows="15" cols="50" name="fleet"></textarea>
	<input type="hidden" name="cmd" value="fleet"/>
	<input type="hidden" name="page" value="<TMPL_VAR NAME=PAGE>"/>
	<br/><input type="submit" value="Submit"/>
</fieldset>
</form>
</TMPL_IF>
</div>
<TMPL_IF PlanetCoords>
<img class="graph" src="/graph/stats/<TMPL_VAR NAME=PlanetCoords>" alt="stats for your planet" height="300" width="500"/>
<img class="graph" src="/graph/ranks/<TMPL_VAR NAME=PlanetCoords>" alt="ranks for your planet" height="300" width="500"/>
</TMPL_IF>
