<TMPL_VAR NAME=Error>
<p>Hello <TMPL_VAR NAME=Username>.</p>
<fieldset> <legend>Message from HC<TMPL_IF isHC> <a href="index.pl?page=motd">EDIT</a></TMPL_IF></legend>
	<TMPL_VAR NAME=MOTD>
</fieldset>
<fieldset> <legend>Planet/account details</legend>
	<ul>
	<TMPL_IF isMEMBER>
	<li> ND rank (by score): <TMPL_VAR NAME=NDRank> </li>
	<li> Defense points: <TMPL_VAR NAME=DefensePoints> </li>
	<li> Attack points: <TMPL_VAR NAME=AttackPoints> </li>
	<li> Scan points: <TMPL_VAR NAME=ScanPoints> </li>
	<li> Humor points: <TMPL_VAR NAME=HumorPoints> </li>
	<li> Total points: <TMPL_VAR NAME=TotalPoints> </li>
	</TMPL_IF>
	<li> Member of the following groups: <TMPL_LOOP Groups><TMPL_VAR NAME=Name><TMPL_UNLESS __last__>, </TMPL_UNLESS></TMPL_LOOP></li>
	<TMPL_IF hasPLANET>
	<li>Planet: <TMPL_VAR NAME=PlanetName></li>
	<li>Size: <TMPL_VAR NAME=PlanetSize></li>
	<li>Score: <TMPL_VAR NAME=PlanetScore></li>
	<li>Value: <TMPL_VAR NAME=PlanetValue></li>
	<li>XP: <TMPL_VAR NAME=PlanetXP></li>	
	<TMPL_ELSE>
		<TMPL_IF isMEMBER>
		<form action="index.pl?page=<TMPL_VAR NAME=PAGE>" method="post">
			<p>We need your planet's coordinates: 
			<input type="text" name="planet" value=""/>
			<input type="submit" value="Submit"/>
			</p>
		</form>
		</TMPL_IF>
	</TMPL_IF>
	</ul>
</fieldset>
<fieldset> <legend>Fleets</legend>
<form action="/index.pl" method="post">
	<input type="hidden" name="page" value="<TMPL_VAR NAME=PAGE>"/>
	<table>
	<tr><th>Target</th><th>Mission</th><th>Amount</th><th>Landing Tick</th><th>Back home</th><th>change?</th></tr>
	<TMPL_LOOP Fleets>
	<tr class="<TMPL_IF ODD>odd<TMPL_ELSE>even</TMPL_IF>">
		<td><TMPL_VAR NAME=Target></td><td><TMPL_VAR NAME=Mission></td>
		<td><TMPL_VAR NAME=Amount></td><td><TMPL_VAR NAME=Landing_Tick></td>
		<td><TMPL_IF Fleet><input class="coordsinput" type="text" name="back:<TMPL_VAR NAME=Id>" value="<TMPL_VAR NAME=Back>"/></TMPL_IF></td>
		<td><TMPL_IF Fleet><input type="checkbox" name="change:<TMPL_VAR NAME=Id>"/></TMPL_IF></td>
	</tr>
	</TMPL_LOOP>
	</table>
	<p>
		<input type="submit" name="cmd" value="Change Fleets"/>
		<input type="submit" name="cmd" value="Recall Fleets"/>
	</p>
</form>
</fieldset>
<form action="/index.pl?page=main" method="post">
<fieldset> <legend>SMS</legend>
	<p>Number: 
	<input type="text" name="sms" value="<TMPL_VAR NAME=SMS>"/>
	<input type="submit" value="Submit"/>
	</p>
</fieldset>
</form>
<form action="/index.pl" method="post">
<fieldset> <legend>Fleet</legend>
	<p>Paste your total fleet from ships section on overview here (do it daily to see the menus):</p>
	<textarea rows="15" cols="50" name="fleet"></textarea>
	<input type="hidden" name="cmd" value="fleet"/>
	<input type="hidden" name="page" value="<TMPL_VAR NAME=PAGE>"/>
	<br/><input type="submit" value="Submit"/>
</fieldset>
</form>
<form action="/index.pl" method="post">
<fieldset> <legend>Change password</legend>
	<input type="hidden" name="page" value="<TMPL_VAR NAME=PAGE>"/>
	<p>Old password: 
	<input type="password" name="oldpass" value=""/>
	New password: 
	<input type="password" name="pass" value=""/>
	<input type="submit" value="Submit"/>
	</p>
</fieldset>
</form>
