<TMPL_VAR NAME=Error>
<p><a href="/<TMPL_VAR NAME=PAGE>?show=all">Show all ticks</a></p>
<table>
	<tr>
		<th>Member</th><th>Attacks</th><th>Defenses</th><th>Attack Points</th><th>Defense Points</th>
		<th>Solo attacks</th><th>Def outside ND/Gal</th>
	</tr>
	<TMPL_LOOP Members>
	<tr class="<TMPL_IF ODD>odd<TMPL_ELSE>even</TMPL_IF>">
		<td><a href="intel?coords=<TMPL_VAR NAME=uid>"><TMPL_VAR NAME=username></a></td>
		<td><TMPL_VAR NAME=attacks></td>
		<td><TMPL_VAR NAME=defenses></td>
		<td><TMPL_VAR NAME=attack_points></td>
		<td><TMPL_VAR NAME=defense_points></td>
	</tr>
	</TMPL_LOOP>
</table>
