<TMPL_VAR NAME=Error>
<!--<p><a href="/<TMPL_VAR NAME=PAGE>?show=all">Show all ticks</a></p>-->
<TMPL_IF UID>
<table class="boards">
	<tr>
		<th>Attack</th><th>Pt</th><th></th>
	</tr>
	<TMPL_LOOP Attacks>
		<tr><td class="<TMPL_VAR NAME=CLASS>"><TMPL_VAR NAME=NAME></td></tr>
		<TMPL_LOOP LIST>
	<tr class="<TMPL_IF ODD>odd<TMPL_ELSE>even</TMPL_IF>">
		<td><TMPL_VAR NAME=Target></td>
		<td align="right"><TMPL_VAR NAME=tick></td>
		<td><TMPL_VAR NAME=Other></td>
	</tr>
		</TMPL_LOOP>
	</TMPL_LOOP>
</table>
<table class="boards">
	<tr>
		<th>Defense</th><th>Pt</th><th></th>
	</tr>
	<TMPL_LOOP Defenses>
		<tr><td class="<TMPL_VAR NAME=CLASS>"><TMPL_VAR NAME=NAME></td></tr>
		<TMPL_LOOP LIST>
	<tr class="<TMPL_IF ODD>odd<TMPL_ELSE>even</TMPL_IF>">
		<td><TMPL_VAR NAME=Target></td>
		<td align="right"><TMPL_VAR NAME=tick></td>
		<td><TMPL_VAR NAME=Other></td>
	</tr>
		</TMPL_LOOP>
	</TMPL_LOOP>
</table>
<TMPL_ELSE>
<table>
	<tr>
		<th>Member</th>
		<th><a href="<TMPL_VAR NAME=PAGE>?order=attacks">Attacks</a></th>
		<th><a href="<TMPL_VAR NAME=PAGE>?order=defenses">Defenses</a></th>
		<th><a href="<TMPL_VAR NAME=PAGE>?order=attack_points">Attack Points</a></th>
		<th><a href="<TMPL_VAR NAME=PAGE>?order=defense_points">Defense Points</a></th>
		<th><a href="<TMPL_VAR NAME=PAGE>?order=solo">Solo attacks</a></th>
		<th><a href="<TMPL_VAR NAME=PAGE>?order=bad_def">Def outside ND/Gal</a></th>
	</tr>
	<TMPL_LOOP Members>
	<tr align="right" class="<TMPL_IF ODD>odd<TMPL_ELSE>even</TMPL_IF>">
		<td align="left" class="<TMPL_VAR NAME=OLD>"><a href="<TMPL_VAR NAME=PAGE>?uid=<TMPL_VAR NAME=uid>"><TMPL_VAR NAME=username></a></td>
		<td><TMPL_VAR NAME=attacks></td>
		<td><TMPL_VAR NAME=defenses></td>
		<td><TMPL_VAR NAME=attack_points></td>
		<td><TMPL_VAR NAME=defense_points></td>
		<td><TMPL_VAR NAME=solo></td>
		<td><TMPL_VAR NAME=bad_def></td>
	</tr>
	</TMPL_LOOP>
</table>
</TMPL_IF>
