<table>
	<tr>
	<th>User</th>
	<th><a href="<TMPL_VAR NAME=PAGE>?type=total">Total</a></th>
	<th><a href="<TMPL_VAR NAME=PAGE>?type=defense">Defenses</a></th>
	<th><a href="<TMPL_VAR NAME=PAGE>?type=attack">Attacks</a></th>
	<th><a href="<TMPL_VAR NAME=PAGE>?type=scan">Scans</a></th>
	<th><a href="<TMPL_VAR NAME=PAGE>?type=humor">Humor</a></th>
	<th><a href="<TMPL_VAR NAME=PAGE>?type=rank">ND Rank</a></th>
	</tr>
	<TMPL_LOOP Members>
	<tr class="<TMPL_IF ODD>odd<TMPL_ELSE>even</TMPL_IF>">
	<td><TMPL_VAR NAME=Username></td>
	<td><TMPL_VAR NAME=Total></td>
	<td><TMPL_VAR NAME=Defense></td>
	<td><TMPL_VAR NAME=Attack></td>
	<td><TMPL_VAR NAME=Scan></td>
	<td><TMPL_VAR NAME=Humor></td>
	<td><TMPL_VAR NAME=Rank></td>
	</tr>
	</TMPL_LOOP>
</table>
