<table border="1">
	<tr>
	<th>User</th>
	<th><a href="points.php?type=total">Total</a></th>
	<th><a href="points.php?type=defense">Defenses</a></th>
	<th><a href="points.php?type=attack">Attacks</a></th>
	<th><a href="points.php?type=scan">Scans</a></th>
	<th><a href="points.php?type=humor">Humor</a></th>
	<th><a href="points.php?type=rank">ND Rank</a></th>
	</tr>
	<TMPL_LOOP Members>
	<tr>
	<td><TMPL_VAR NAME=Username></td>
	<td><TMPL_VAR NAME=Total></td>
	<td><TMPL_VAR NAME=Defense></td>
	<td><TMPL_VAR NAME=Attack></td>
	<td><TMPL_VAR NAME=Scan></td>
	<td><TMPL_VAR NAME=Humor></td>
	<td><TMPL_VAR NAME=Rank></td>
	</tr>
	</TMPL_LOOP>
</table>
