<TMPL_IF isBC>
	<p>Total launched fleets: <TMPL_VAR NAME=Launched></p>
</TMPL_IF>
<p> Open raids </p>
<TMPL_LOOP Raids>
	<p><a href="/<TMPL_VAR NAME=PAGE>?raid=<TMPL_VAR NAME=Raid>">Raid <TMPL_VAR NAME=Raid></a>
	Landing tick: <TMPL_VAR NAME=tick>
	<TMPL_IF isBC>
		<a href="editRaid?raid=<TMPL_VAR NAME=Raid>">Edit</a>
		<a href="editRaid?raid=<TMPL_VAR NAME=Raid>&amp;cmd=Close">Close raid.</a>
		<TMPL_UNLESS ReleasedCoords>
		<a href="editRaid?raid=<TMPL_VAR NAME=Raid>&amp;cmd=showcoords">Show coords.</a>
		</TMPL_UNLESS>
		Waves: <TMPL_VAR NAME=Waves>
		Claims: <TMPL_VAR NAME=Claims>
		Launched: <TMPL_VAR NAME=Launched>
	</TMPL_IF>
	</p>
</TMPL_LOOP>
<TMPL_IF ClosedRaids>
<p> Closed raids </p>
<TMPL_LOOP ClosedRaids>
		<p>
			<a href="editRaid?raid=<TMPL_VAR NAME=Raid>">Edit raid <TMPL_VAR NAME=Raid></a>
			Landing tick: <TMPL_VAR NAME=tick>
			<TMPL_UNLESS Open>
			<a href="editRaid?raid=<TMPL_VAR NAME=Raid>&amp;cmd=Open">Open raid.</a>
			</TMPL_UNLESS>
			Waves: <TMPL_VAR NAME=Waves>
			Claims: <TMPL_VAR NAME=Claims>
			Launched: <TMPL_VAR NAME=Launched>
		</p>
</TMPL_LOOP>
</TMPL_IF>

<TMPL_IF RemovedRaids>
<p> Removed raids </p>
<TMPL_LOOP RemovedRaids>
		<p>
			<a href="editRaid?raid=<TMPL_VAR NAME=Raid>">Edit raid <TMPL_VAR NAME=Raid></a>
			Landing tick: <TMPL_VAR NAME=tick>
			Waves: <TMPL_VAR NAME=Waves>
			Claims: <TMPL_VAR NAME=Claims>
			Launched: <TMPL_VAR NAME=Launched>
		</p>
</TMPL_LOOP>
</TMPL_IF>

<TMPL_IF Raid>
<fieldset> <legend>Message</legend>
	<p><b>REMEMBER TO PASTE LAUNCH CONFIRMATION IF YOU WANT AN ATTACK POINT</b></p>
	<p><b style="color: red;">DO NOT JOIN A WAVE UNLESS YOU HAVE PERMISSION FROM THE PERSON WHO CLAIMED IT</b></p>
	<p><b style="color: purple;">COORDS ARE NOT SHOWN UNTIL AT LEAST 10 MIN AFTER YOUR CLAIM</b></p>
	<p>Landing tick first wave: <TMPL_VAR NAME=LandingTick></p>
	<TMPL_VAR NAME=Message>
</fieldset>

<TMPL_IF Ajax>
<form action="<TMPL_VAR NAME=PAGE>" method="post">
	<p>
		<input type="button" value="Update claims"
			onclick = "update('/<TMPL_VAR NAME=PAGE>?xml=1;raid=<TMPL_VAR NAME=Raid>')"/>
		<input type="button" value="Update target list"
			onclick = "listTargets('/<TMPL_VAR NAME=PAGE>?xml=1;raid=<TMPL_VAR NAME=Raid>')"/>
	</p>
</form>
</TMPL_IF>
<TMPL_LOOP Targets>
<fieldset class="<TMPL_VAR Name=Style>"> <legend><a name="target<TMPL_VAR NAME=Id>">Target: #<TMPL_VAR NAME=Id></a></legend>

	<div class="leftinfo"><ul>
		<li>Size: <TMPL_VAR NAME=Size></li>
		<li class="<TMPL_VAR NAME=ScoreBash>">Score: <TMPL_VAR NAME=Score></li>
		<li class="<TMPL_VAR NAME=ValueBash>">Value: <TMPL_VAR NAME=Value></li>
		<li>Fleet value: <TMPL_VAR NAME=FleetValue></li>
		<li>Resource value: <TMPL_VAR NAME=ResValue></li>
		<li>Race: <TMPL_VAR NAME=Race></li>
		<TMPL_LOOP Roids>
			<li>Roids wave <TMPL_VAR NAME=Wave>: <TMPL_VAR NAME=Roids> (<TMPL_VAR NAME=XP> xp)</li>
		</TMPL_LOOP>
	</ul>
	<TMPL_IF Comment>
		<fieldset> <legend>Comment</legend>
			<TMPL_VAR NAME=Comment>
		</fieldset>
	</TMPL_IF>
	<table>
	<tr><th></th><th>Metal</th><th>Crystal</th><th>Eonium</th></tr>
	<tr align="center">
		<th>Roids</th>
		<td><TMPL_VAR NAME=roidMetal></td>
		<td><TMPL_VAR NAME=roidCrystal></td>
		<td><TMPL_VAR NAME=roidEonium></td>
	</tr>
	<tr align="center">
		<th>Resources</th>
		<td><TMPL_VAR NAME=resourceMetal></td>
		<td><TMPL_VAR NAME=resourceCrystal></td>
		<td><TMPL_VAR NAME=resourceEonium></td>
	</tr>

	</table>
	</div>
	<div class="leftinfo">
	<table>
	<tr><th>Waves</th></tr>
	<tr>
		<td>Research</td>
		<td><TMPL_VAR NAME=techWaves></td>
	</tr>
	<tr>
		<td>Amps</td>
		<td><TMPL_VAR NAME="strucWave Amplifier"></td>
	</tr>
	<tr>
		<td>Dists</td>
		<td><TMPL_VAR NAME="strucWave Distorter"></td>
	</tr>
	<tr><th>Production</th></tr>
	<tr>
		<td>Research</td>
		<td><TMPL_VAR NAME=techHulls></td>
	</tr>
	<tr>
		<td>Light factory</td>
		<td><TMPL_VAR NAME="strucLight Factory"></td>
	</tr>
	<tr>
		<td>Medium factory</td>
		<td><TMPL_VAR NAME="strucMedium Factory"></td>
	</tr>
	<tr>
		<td>Heavy factory</td>
		<td><TMPL_VAR NAME="strucHeavy Factory"></td>
	</tr>
	</table>
	</div>
	<TMPL_LOOP Missions>
	<div class="leftinfo">

		<p><TMPL_VAR NAME=Name><br/>
			Tick: <TMPL_VAR NAME=Tick><br/>
			Ships:<TMPL_VAR NAME=Amount>
		</p>
		<table>
		<TMPL_LOOP Ships>
		<tr class="<TMPL_IF ODD>odd<TMPL_ELSE>even</TMPL_IF>">
			<td><TMPL_VAR NAME=Ship></td><td><TMPL_VAR NAME=Amount></td>
		</tr>
		</TMPL_LOOP>
		</table>
	</div>
	</TMPL_LOOP>
	<div class="clear"> &nbsp;</div>
	<form action="<TMPL_VAR NAME=PAGE>" method="post">
	<p class="claimlinks">
	<span id="claim<TMPL_VAR NAME=Id>">
	<TMPL_IF Ajax>
	<TMPL_LOOP Claims>
     <input type="button" value="Claim wave <TMPL_VAR NAME=Wave>"
        onclick = "claim('/<TMPL_VAR NAME=PAGE>?xml=1;raid=<TMPL_VAR NAME=Raid>',<TMPL_VAR NAME=Target>,<TMPL_VAR NAME=Wave>,'Claim')"/>
	</TMPL_LOOP>
	<TMPL_ELSE>
	<TMPL_LOOP Claims>
	<a class="<TMPL_VAR NAME=Command>" href="/<TMPL_VAR NAME=PAGE>?raid=<TMPL_VAR NAME=Raid>&amp;cmd=<TMPL_VAR NAME=Command>&amp;target=<TMPL_VAR NAME=Target>&amp;wave=<TMPL_VAR NAME=Wave>#<TMPL_VAR NAME=Target>"><TMPL_VAR NAME=Command> wave <TMPL_VAR NAME=Wave><TMPL_IF Claimers> (<TMPL_VAR NAME=Claimers>)</TMPL_IF></a>
	<TMPL_IF Owner><a href="/<TMPL_VAR NAME=PAGE>?raid=<TMPL_VAR NAME=Raid>&amp;target=<TMPL_VAR NAME=Target>&amp;cmd=set&amp;joinable=<TMPL_IF Joinable>FALSE<TMPL_ELSE>TRUE</TMPL_IF>&amp;wave=<TMPL_VAR NAME=Wave>#<TMPL_VAR NAME=Target>"><TMPL_IF Joinable>N<TMPL_ELSE>J</TMPL_IF></a></TMPL_IF>
	</TMPL_LOOP>
	</TMPL_IF>
	</span>
	</p>
	</form>
</fieldset>
</TMPL_LOOP>
<TMPL_IF Ajax>
	<script type="text/javascript">
	update('/<TMPL_VAR NAME=PAGE>?xml=1;raid=<TMPL_VAR NAME=Raid>');
	</script>
</TMPL_IF>

</TMPL_IF>
