<TMPL_VAR NAME=Error>
<table>
	<tr>
		<th>Name</th><th>Relationship</th><th>Members (in res calc)</th>
		<th><a href="index.pl?page=<TMPL_VAR NAME=PAGE>&amp;order=score">Score</a></th>
		<th><a href="index.pl?page=<TMPL_VAR NAME=PAGE>&amp;order=size">Size</a></th>
		<th><a href="index.pl?page=<TMPL_VAR NAME=PAGE>&amp;order=resources">Resources</a></th>
		<th><a href="index.pl?page=<TMPL_VAR NAME=PAGE>&amp;order=respplanet">Resources / Planet</a></th>
		<th><a href="index.pl?page=<TMPL_VAR NAME=PAGE>&amp;order=nscore">Res score (gain)</a>[1]</th>
		<th><a href="index.pl?page=<TMPL_VAR NAME=PAGE>&amp;order=nscore2">Avg res score (gain)</a>[2]</th>
		<th><a href="index.pl?page=<TMPL_VAR NAME=PAGE>&amp;order=nscore3">Estimated score</a>[3]</th>
	</tr>
<TMPL_LOOP Alliances>
	<tr class="<TMPL_IF ODD>odd<TMPL_ELSE>even</TMPL_IF>">
		<td><a href="index.pl?page=alliances&amp;alliance=<TMPL_VAR NAME=Id>"><TMPL_VAR NAME=Name></a></td>
		<td class="<TMPL_VAR NAME=relationship>"><TMPL_VAR NAME=relationship></td>
		<td><TMPL_VAR NAME=members> (<TMPL_VAR NAME=planets>)</td>
		<td><TMPL_VAR NAME=score></td>
		<td><TMPL_VAR NAME=size></td>
		<td><TMPL_VAR NAME=resources></td>
		<td><TMPL_VAR NAME=respplanet></td>
		<td><TMPL_VAR NAME=nscore> (<TMPL_VAR NAME=scoregain>)</td>
		<td> <TMPL_VAR NAME=nscore2> (<TMPL_VAR NAME=scoregain2>)</td>
		<td> <TMPL_VAR NAME=nscore3> (<TMPL_VAR NAME=scoregain3>)</td>
	</tr>
</TMPL_LOOP>
</table>
<p>[1] = New score if resources are spent (gain is just the extra value compared to unspent resources)</p>
<p>[2] = Same as [1] but calculated with avg resources and max 60 members</p>
<p>[3] = Same as [2] but also includes resources if roids are kept to end of round (gain is just from the roids)</p>
