<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>NewDawn: <TMPL_VAR NAME=TITLE></title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<link rel="stylesheet" type="text/css" href="nd.css"/>
	<TMPL_VAR NAME=HEADER>
</head>
<body>
<div id="leftbar">
		<ul class="linkbar">
			<li><a href="index.pl?page=main">Main page</a></li>
		</ul>	<p>Tick: <TMPL_VAR NAME=TICK></p>
		<TMPL_IF isMEMBER>
		<p>Member menu</p>
		<ul class="linkbar">
			<li><a href="index.pl?page=points">Top members</a></li>
			<li><a href="index.pl?page=addintel">Add intel/scans</a></li>
			<li><a href="index.pl?page=launchConfirmation">Launch confirmation</a></li>
			<li><a href="index.pl?page=covop">CovOp targets</a></li>
			<li><a href="index.pl?page=covop&amp;list=distwhores">Distwhores</a></li>
			<li><a href="index.pl?page=top100">Top100 planets</a></li>
			<li><a href="index.pl?page=defrequest">Request defense</a></li>
		</ul>
		</TMPL_IF>
		<TMPL_IF isATTACKER>
		<p>Attack menu</p>
		<ul class="linkbar">
			<li><form action="index.pl" method="post"><p>
				<input type="hidden" name="page" value="check"/>
				<input class="coord" type="text" name="coords" value="1:1:1"/>
				<input class="coord" type="submit" value="Check"/>
				</p></form></li>
			<li><a href="index.pl?page=raids">Web raids</a></li>
		</ul>
		<div id="targets"><TMPL_VAR NAME=Targets></div>
		</TMPL_IF>
		<TMPL_IF isBC>
		<p>BC menu</p>
		<ul class="linkbar">
			<li><a href="index.pl?page=editRaid">Create raid</a></li>
		</ul>
		</TMPL_IF>
		<TMPL_IF isDC>
		<p>DC menu</p>
		<ul class="linkbar">
			<li><a href="index.pl?page=calls">Defense calls</a></li>
			<li><a href="index.pl?page=calls&amp;show=uncovered">Not covered calls</a></li>
			<li><a href="index.pl?page=calls&amp;show=covered">Covered calls</a></li>
			<li><a href="index.pl?page=calls&amp;show=all">All calls</a></li>
		</ul>
		</TMPL_IF>
		<TMPL_IF isHC>
		<p>HC menu</p>
		<ul class="linkbar">
			<li><a href="index.pl?page=users">List users</a></li>
			<li><a href="index.pl?page=intel">Intel</a></li>
			<li><a href="index.pl?page=alliances">Alliances</a></li>
			<li><a href="index.pl?page=allianceStatus">Alliance status</a></li>
			<li><a href="index.pl?page=allianceRes">Alliance resources</a></li>
		</ul>
		</TMPL_IF>
	<TMPL_VAR NAME=LEFTBAR>
</div>
<TMPL_VAR NAME=BODY>
</body>
</html>
