<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>NewDawn: <TMPL_VAR NAME=TITLE></title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml;charset=UTF-8"/>
	<link rel="stylesheet" type="text/css" href="/default.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/<TMPL_IF CSS><TMPL_VAR NAME=CSS><TMPL_ELSE>black</TMPL_IF>.css"/>
	<link rel="icon" type="image/ico" href="/favicon.ico"/>
	<script type="text/javascript" src="/raid.js"></script>
	<TMPL_VAR NAME=HEADER>
</head>
<body>
<div id="leftbar">
	<ul class="linkbar">
		<li><a href="/main">Main page</a></li>
		<li><a href="/settings">Settings</a></li>
		<li><a href="/forum">Forum</a></li>
		<li><a href="/forum/allUnread">New posts <TMPL_IF UnreadPosts>(<span class="<TMPL_IF NewPosts>newposts<TMPL_ELSE>unreadposts</TMPL_IF>"><TMPL_VAR NAME=UnreadPosts></span>)</TMPL_IF></a></li>
	</ul>	<p>Tick: <TMPL_VAR NAME=TICK></p>
	<TMPL_IF isMEMBER>
	<p>Member menu</p>
	<ul class="linkbar">
		<li><a href="/points">Top members</a></li>
		<li><a href="/addintel">Add intel/scans</a></li>
		<li><a href="/launchConfirmation">Launch confirmation</a></li>
		<li><a href="/covop">CovOp targets</a></li>
		<li><a href="/covop?list=distwhores">Distwhores</a></li>
		<li><a href="/planetrankings">Planet Rankings</a></li>
		<li><a href="/alliancerankings">Alliance Rankings</a></li>
		<li><a href="/galaxyrankings">Galaxy Rankings</a></li>
		<li><a href="/defrequest">Request defense</a></li>
	</ul>
	</TMPL_IF>
	<TMPL_IF isATTACKER>
	<p>Attack menu</p>
	<ul class="linkbar">
		<li><form action="/check" method="post"><p>
			<input type="hidden" name="page" value="check"/>
			<input class="coordsinput" type="text" name="coords" value="<TMPL_VAR NAME=Coords>"/>
			<input class="coordsbutton" type="submit" value="Check"/>
			</p></form></li>
		<li><a href="/raids">Web raids</a></li>
	</ul>
	<div id="targets"><TMPL_VAR NAME=Targets></div>
	</TMPL_IF>
	<TMPL_IF isBC>
	<p>BC menu</p>
	<ul class="linkbar">
		<li><a href="/editRaid">Create raid</a></li>
	</ul>
	</TMPL_IF>
	<TMPL_IF isDC>
	<p>DC menu</p>
	<ul class="linkbar">
		<li><a href="/calls">Defense calls</a></li>
		<li><a href="/calls?show=uncovered">Not covered calls</a></li>
		<li><a href="/calls?show=covered">Covered calls</a></li>
		<li><a href="/calls?show=all">All calls</a></li>
	</ul>
	</TMPL_IF>
	<TMPL_IF isHC>
	<p>HC menu</p>
	<ul class="linkbar">
		<li><a href="/users">List users</a></li>
		<li><a href="/intel">Intel</a></li>
		<li><a href="/alliances">Alliances</a></li>
		<li><a href="/hostileAlliances">Hostile Alliances</a></li>
		<li><a href="/memberIntel">Member Intel</a></li>
		<li><a href="/resources">Alliance resources</a></li>
		<li><a href="/planetNaps">Planet Naps</a></li>
		<li><a href="/mail">Mail</a></li>
	</ul>
	<TMPL_ELSE>
		<TMPL_IF isIntel>
	<p>Intel menu</p>
	<ul class="linkbar">
		<li><a href="intel">Intel</a></li>
	</ul>
		</TMPL_IF>
	</TMPL_IF>
	<TMPL_VAR NAME=LEFTBAR>
</div>
<div id="body">
<TMPL_VAR NAME=Error>
<TMPL_VAR NAME=BODY>
</div>
</body>
</html>
