<TMPL_VAR NAME=Error>
<table class="stats">
	<tr>
		<th>Coords</th>
		<th>Alliance</th>
		<th>Race</th>
		<th><a href="/<TMPL_VAR NAME=PAGE>?order=score">Score</a></th>
		<th><a href="/<TMPL_VAR NAME=PAGE>?order=value">Value</a></th>
		<th><a href="/<TMPL_VAR NAME=PAGE>?order=xp">XP</a></th>
		<th><a href="/<TMPL_VAR NAME=PAGE>?order=size">Size</a></th>
		<th><a href="/<TMPL_VAR NAME=PAGE>?order=nfvalue">NF Value</a></th>
		<th><a href="/<TMPL_VAR NAME=PAGE>?order=nfvalue2">NF Value - Ally Value</a></th>
	</tr>
<TMPL_LOOP Alliances>
	<tr class="<TMPL_IF __odd__>odd<TMPL_ELSE>even</TMPL_IF>">
		<td><a href="/check?coords=<TMPL_VAR NAME=Coords>"><TMPL_VAR NAME=Coords></a></td>
		<td><TMPL_VAR NAME=Alliance></td>
		<td><TMPL_VAR NAME=Race></td>
		<td><TMPL_VAR NAME=score></td>
		<td><TMPL_VAR NAME=Value></td>
		<td><TMPL_VAR NAME=XP></td>
		<td><TMPL_VAR NAME=size></td>
		<td><TMPL_VAR NAME=nfvalue></td>
		<td><TMPL_VAR NAME=nfvalue2></td>
	</tr>
</TMPL_LOOP>
</table>
