<TMPL_IF Targets><table><tr><th>Target</th><th>Landing tick</th></tr><TMPL_LOOP Targets><tr><td><a href="index.pl?page=check&amp;coords=<TMPL_VAR NAME=Coords>"><TMPL_VAR NAME=Coords></a><TMPL_IF Launched>*</TMPL_IF></td><td><a href="raids.php?raid=<TMPL_VAR NAME=Raid>#target<TMPL_VAR NAME=Target>"><TMPL_VAR NAME=Tick></a></td><td><a href="index.pl?page=raids&amp;raid=<TMPL_VAR NAME=Raid>&amp;cmd=Unclaim&amp;target=<TMPL_VAR NAME=Target>&amp;wave=<TMPL_VAR NAME=Wave>">U</a></td></tr></TMPL_LOOP></table></TMPL_IF>
