<TMPL_VAR NAME=Error>
<p><a href="/<TMPL_VAR NAME=PAGE>?offset=<TMPL_VAR NAME=PrevOffset>&amp;order=<TMPL_VAR NAME=Order>">Previous 100</a>
	<a href="/<TMPL_VAR NAME=PAGE>?offset=<TMPL_VAR NAME=NextOffset>&amp;order=<TMPL_VAR NAME=Order>">Next 100</a></p>
<table>
	<tr><th>Coords</th><th>Planet</th><th>Race</th>
	<th><a href="/<TMPL_VAR NAME=PAGE>?offset=<TMPL_VAR NAME=Offset>&amp;order=sizerank">Size (rank)</a></th>
	<th><a href="/<TMPL_VAR NAME=PAGE>?offset=<TMPL_VAR NAME=Offset>&amp;order=scorerank">Score (rank)</a></th>
	<th><a href="/<TMPL_VAR NAME=PAGE>?offset=<TMPL_VAR NAME=Offset>&amp;order=valuerank">Value (rank)</a></th>
	<th><a href="/<TMPL_VAR NAME=PAGE>?offset=<TMPL_VAR NAME=Offset>&amp;order=xprank">XP (rank)</a></th>
	<TMPL_IF isHC>
	<th>Nick</th>
	<th><a href="/<TMPL_VAR NAME=PAGE>?offset=<TMPL_VAR NAME=Offset>&amp;order=hit_us">Hit us</a></th>
	<th>Alliance</th>
	</TMPL_IF>
	</tr>
	<TMPL_LOOP Planets>
	<tr align="center" class="<TMPL_IF ODD>odd<TMPL_ELSE>even</TMPL_IF>">
	<td><a href="check?coords=<TMPL_VAR NAME=Coords>"><TMPL_VAR NAME=Coords></a></td>
	<td><TMPL_VAR NAME=Planet></td>
	<td><TMPL_VAR NAME=Race></td>
	<td><TMPL_VAR NAME=Size>(<TMPL_VAR NAME=Sizerank>)</td>
	<td><TMPL_VAR NAME=Score>(<TMPL_VAR NAME=Scorerank>)</td>
	<td><TMPL_VAR NAME=Value>(<TMPL_VAR NAME=Valuerank>)</td>
	<td><TMPL_VAR NAME=XP>(<TMPL_VAR NAME=XPrank>)</td>
	<TMPL_IF isHC>
	<td class="<TMPL_VAR NAME=Planet_Status>"><a href="intel?coords=<TMPL_VAR NAME=Coords>"><TMPL_VAR NAME=Nick>(<TMPL_VAR NAME=Planet_Status>)</a></td>
	<td><TMPL_VAR NAME=Hit_Us></td>
	<td class="<TMPL_VAR NAME=Relationship>"><TMPL_VAR NAME=Alliance></td>
	</TMPL_IF>
	</tr>
	</TMPL_LOOP>
</table>
<p><a href="/<TMPL_VAR NAME=PAGE>?offset=<TMPL_VAR NAME=PrevOffset>&amp;order=<TMPL_VAR NAME=Order>">Previous 100</a>
	<a href="/<TMPL_VAR NAME=PAGE>?offset=<TMPL_VAR NAME=NextOffset>&amp;order=<TMPL_VAR NAME=Order>">Next 100</a></p>
