<TMPL_VAR NAME=Error>
<TMPL_IF User>
<form action="<TMPL_VAR NAME=PAGE>" method="post"><fieldset> <legend>User details</legend>
	<input type="hidden" name="page" value="<TMPL_VAR NAME=PAGE>"/>
	<input type="hidden" name="cmd" value="change"/>
	<input type="hidden" name="user" value="<TMPL_VAR NAME=User>"/>
	<table>
	<tr>
		<th></th>
		<th>Value</th>
		<th>Change?</th>
	</tr>
	<tr><td>Username</td>
		<td><input type="text" name="username" value="<TMPL_VAR NAME=Username>"/></td>
		<td><input type="checkbox" name="c:username"/></td>
	</tr>
	<tr><td>Host</td>
		<td><input type="text" name="hostmask" value="<TMPL_VAR NAME=Hostmask>"/></td>
		<td><input type="checkbox" name="c:hostmask"/></td>
	</tr>
	<tr><td>Planet</td>
		<td><input type="text" name="planet" value="<TMPL_VAR NAME=Planet>"/></td>
		<td><input type="checkbox" name="c:planet"/></td>
	</tr>
	<tr><td>Attack points</td>
		<td><input type="text" name="attack_points" value="<TMPL_VAR NAME=Attack_points>"/></td>
		<td><input type="checkbox" name="c:attack_points"/></td>
	</tr>
	<tr><td>Defense points</td>
		<td><input type="text" name="defense_points" value="<TMPL_VAR NAME=Defense_points>"/></td>
		<td><input type="checkbox" name="c:defense_points"/></td>
	</tr>
	<tr><td>Scan points</td>
		<td><input type="text" name="scan_points" value="<TMPL_VAR NAME=Scan_points>"/></td>
		<td><input type="checkbox" name="c:scan_points"/></td>
	</tr>
	<tr><td>Humor points</td>
		<td><input type="text" name="humor_points" value="<TMPL_VAR NAME=Humor_points>"/></td>
		<td><input type="checkbox" name="c:humor_points"/></td>
	</tr>
	</table>
	<p>Other information. Change?<input type="checkbox" name="c:info"/></p>
	<textarea rows="15" cols="80" name="info"><TMPL_VAR NAME=Info></textarea>
	<TMPL_IF RemoveGroups>
		<p><TMPL_VAR NAME=Username> is a member of the following groups</p>
		<table>
			<tr><th>Group</th><th>Remove</th></tr>
		<TMPL_LOOP RemoveGroups>
			<tr><td><TMPL_VAR NAME=Name></td><td><input type="checkbox" name="<TMPL_VAR NAME=Id>" value="remove"/></td></tr>
		</TMPL_LOOP>
			</table>		
		</TMPL_IF>
		<TMPL_IF AddGroups>
			<p><TMPL_VAR NAME=Username> is not a member of the following groups</p>
			<table>
			<tr><th>Group</th><th>Add</th></tr>
		<TMPL_LOOP AddGroups>
			<tr><td><TMPL_VAR NAME=Name></td><td><input type="checkbox" name="<TMPL_VAR NAME=Id>" value="add"/></td></tr>
		</TMPL_LOOP>
			</table>		
		</TMPL_IF>
		<p><input type="submit" value="Submit"/></p>
</fieldset>
</form>
<TMPL_ELSE>
<table border="1">
	<tr><th>User</th><th>Groups</th></tr>
<TMPL_LOOP Users>
	<tr class="<TMPL_IF ODD>odd<TMPL_ELSE>even</TMPL_IF>">
		<td><a href="/<TMPL_VAR NAME=PAGE>?user=<TMPL_VAR NAME=Uid>"><TMPL_VAR NAME=Username></a></td>
		<td><TMPL_VAR NAME=Groups></td>
	</tr>
</TMPL_LOOP>
</table>
</TMPL_IF>
