[% META title = 'User listing' %]
<table>
	<tr><th>User</th><th>Discord</th><th>P-nick</th><th>Groups</th></tr>
[% FOR u IN users %]
	<tr class="[% loop.count % 2 == 0 ? 'even' : 'odd' %]">
		<td><a href="[% c.uri_for('edit',u.uid) %]">[% u.username | html %]</a></td>
		<td>[% u.discord_id | html %]</td>
		<td>[% u.pnick | html %]</td>
		<td>[% u.groups %]</td>
	</tr>
[% END %]
</table>
